In [2]:
file=open('demo.txt','r')
for each in file :
    print(each)

I am Suchita Nilesh Borkar

In [4]:
file=open('demo.txt','r')
print(file.read())

I am Suchita Nilesh Borkar

In [5]:
file=open('demo.txt','r')
print(file.read(5))

I am

In [8]:
#Illustrate split function
with open("demo.txt","r") as file:
    data=file.readlines()
    for line in data:
        word=line.split()
        print(word)

['I', 'am', 'Suchita', 'Nilesh', 'Borkar']

In [9]:
#to create a file
file=open('demo.txt','w')
file.write("This is a demo file")
file.write("Some more line of code")
file.close()

In [11]:
# illustrate append() mode
file=open('demo.txt','a')
file.write("This is demostration of append function")
file.close()

In [ ]:
import os
os.remove('demo.txt')

In [14]:
import pandas as pd
df=pd.read_csv("employees.csv")
print(df)

        Unnamed: 0                       date    open    high     low   close  \
0                0  2018-01-01 09:15:00+05:30  407.00  407.00  403.70  404.25
1                1  2018-01-01 09:16:00+05:30  404.55  404.90  403.30  404.50
2                2  2018-01-01 09:17:00+05:30  404.55  406.30  404.55  405.50
3                3  2018-01-01 09:18:00+05:30  405.55  405.65  404.60  404.70
4                4  2018-01-01 09:19:00+05:30  405.10  405.10  404.20  404.55
...            ...                        ...     ...     ...     ...     ...
456370       15370  2023-01-03 15:25:00+05:30  820.00  820.50  819.60  820.00
456371       15371  2023-01-03 15:26:00+05:30  820.10  820.35  819.70  820.15
456372       15372  2023-01-03 15:27:00+05:30  820.15  820.15  819.50  819.90
456373       15373  2023-01-03 15:28:00+05:30  819.90  820.40  819.75  820.00
456374       15374  2023-01-03 15:29:00+05:30  820.00  820.00  818.00  818.00

        volume
0        15018
1        12209
2         7837
3         3614
4         4542
...        ...
456370   33880
456371    9931
456372    9150
456373   11068
456374   65713

[456375 rows x 7 columns]