In [1]:
def filterfun(x):
    return(x*x*x)
my_list=[1,2,4,5,6,7]
result=list(map(filterfun,my_list))
print(result)

[1, 8, 64, 125, 216, 343]

In [2]:
def filterfun(x):
    return x>2
my_list=[1,2,4,5,6,7]
result=list(filter(filterfun,my_list))
print(result)

[4, 5, 6, 7]

## Function

In [15]:
# Task is create an addition function
def add():
    x=2
    y=3
    return x+y
add() # call the function
add()

5

In [23]:
def mul():
    x=2
    y=3
    print(x*y) 
mul()

6

In [22]:
# pass a paramter in function
def add(x,y):
    return x+y
add(3,4)
#print(add(2,3))
#print(add(4,5))
#print(add(6,7))

7

In [25]:
# Multiplication with Parameter
def mul(x,y):
    return x*y
x=int(input("Enter First Number"))
y=int(input("Enter Second number"))
mul(x,y)

Enter First Number2
Enter Second number5

10

In [31]:
# Create a function to print Name of Student and Age of Student
def stud_detail(name,age):
    print(name)
    print(age)
   # return name,age
print(stud_detail("Suchita",35))
print(stud_detail("John",34))

Suchita
35
('Suchita', 35)
John
34
('John', 34)

In [36]:
def stud_detail(name,age):  # Definition or creation of Function
    print(name,age) 
name=input("Enter Student Name: ") 
age=int(input("Enter Student Age: "))
stud_detail(name,age) # Calling Function

Enter Student Name: Suchita
Enter Student Age: 35
Student name and Age are: Suchita 35

In [37]:
# Create a Function to print Name,RollNo, Age
def stud_detail(name,rollno,age):
    print(name,rollno,age)
stud_detail("John",23,34)

John 23 34

In [38]:
def stu_detail(name,roll_no,age):
    return (name, roll_no, age)
name=input("Enter name")
roll_no=int(input("enter roll no"))
age= int(input("Enter age"))
stu_detail(name,roll_no,age)

ENter nameJohn
enter roll no34
Enter age20

('John', 34, 20)

In [43]:
# Task to perform division denomenator is not equal 0
def div(x,y):
    if y!=0:
        result=x/y
        print(result)
    else:
        print("Cannot be divide by zero")
div(6,0)

Cannot be divide by zero

## lambda function

In [46]:
add=lambda x,y:x+y
print(add(2,3))

5

In [47]:
mul=lambda x,y:x*y
print(mul(3,4))

12

In [50]:
square=lambda x:x*x
print(square(3))

9

In [53]:
# syntax list(filter(functionname,listname))
list1=[23,45,67,89,22,26]
newlist=list(filter(lambda x:x<=45,list1))
print(newlist)

[23, 45, 22, 26]

In [55]:
list1=[2,3,4,5,6,7]
newlist=list(map(lambda x:x*x,list1))
print(newlist)

[4, 9, 16, 25, 36, 49]