# Session 2 Pratical Example(Data Type)

In [2]:
# Print Statement 
print("Hello all candidates")
print(10+10.9)

Hello all candidates
20.9

In [6]:
m1="10"  # Marks of subjects
m2="20"
m3="300"
print(type(m3))
print("m1+m2+m3")
print(m1+m2+m3)

<class 'str'>
m1+m2+m3
1020300

In [4]:
#  In above program since m1,m2,m3 assigns then uber in string format
# It will act as string not number datatype

In [5]:
m1=100
m2=200
m3=300
print(type(m3))
print(m1+m2+m3)

<class 'int'>
600

In [1]:
Height_A=4.2
Height_B=5.1
print(type(Height_A))
print(Height_A)

<class 'float'>
4.2

In [10]:
name="Suchita"
age=30
address="31,USA,XYZ"
print(name,age,address)

Suchita 30 31,USA,XYZ

In [11]:
a=9
print("The value of a is ",a)

The value of a is  9

## Variable

In [13]:
a_price =100
b_price = 200
c_bill=a_price + b_price           # Addition of two variables
print("Total Bill is : ",c_bill)

Total Bill is :  300

In [14]:
c_bill=b_price - a_price
print("Difference in Bill ",c_bill)   # Difference in two variables

Difference in Bill  100

In [15]:
website="google.com"   # String definition
print(website)

google.com

In [16]:
# Assigning Multiple values to multiple variable
a,b,c=5,3.2,"Hello"

print(a)
print(b)
print(c)

5
3.2
Hello

In [17]:
# Assigning same values to multiple variables
x=y=z="Same"

print(x)
print(y)
print(z)

Same
Same
Same

## Number Data type

In [18]:
# Python Program to demonstrate Number value
a=10
print(type(a))      # interger Type

b=5.0
print(type(b))     # float type

c=2+5j
print(type(c))    # complex type

<class 'int'>
<class 'float'>
<class 'complex'>

## List Datatype

In [19]:
# List Ordered sequence of elements. Elements could be of different types. 
#List is mutable i,e we can modify elements of list.It use []

a=[5,10,15,"Regenesys",30.7,40.2,10,15,5]
print(type(a))

<class 'list'>

In [20]:
# to fetch specific element from list ,use index

print(a[3])        # for positive index value, it will fetch from left to right starting from 0
print(a[7])

print(a[-1])      # for negative index value , it will fetch from right to left starting from -1
print(a[-2])

print(a[3:6])    # It will fetch element from index value 3 to index value 5
print(a[2],a[5],a[7])

Regenesys
15
5
15
['Regenesys', 30.7, 40.2]
15 40.2 15

In [22]:
# Function/ Methods() in List

Grade=["A","B","C","D","E"]
Marks=[20,30,40,33,29.87]

print(len(Grade))   # It will print length of the list
print(max(Marks))   # It will print Maximum value from list
print(min(Marks))   # It will print Minimum Value from List

5
40
20

In [26]:
# Creating a MultiDimesional List
# By Nesting a list inside a list
List=[['Lets go','for'],['study']]
print("\nMulti-Dimensional List")
print(List)
print(List[1])

Multi-Dimensional List
[['Lets go', 'for'], ['study']]
['study']

In [28]:
# Count Function in List

points=[1,1,1,1,2,2,2,3,3,4,5,6,6]

count_points=points.count(1)  # It will print count of number 1 in List
print(count_points)

4

In [29]:
# Index() in list
fruits=["apple","banana","cherry"]
x=fruits.index("cherry")     # It will give index value 
print("Index of Cherry is ",x)

Index of Cherry is  2

In [30]:
# append() in list
fruits=["apple","banana","cherry"]
print(fruits)
fruits.append("orange")     # append new value in list
print("New list is ",fruits)

['apple', 'banana', 'cherry']
new list is  ['apple', 'banana', 'cherry', 'orange']

In [31]:
# reverse() in list
fruits=["apple","banana","cherry"]
fruits.reverse()
print("Reverse List is",fruits)

Reverse List is ['cherry', 'banana', 'apple']

In [32]:
#sort() in list
cars=[3,5,1]
cars.sort()
print("Cars in sorted order",cars)

Cars in sorted order [1, 3, 5]

In [33]:
#clear() in list
cars=[3,5,1]
cars.clear()   # it will remove all elements in list
print("Elements of list",cars)

Elements of list []

In [34]:
#copy() in list
prime_number=[2,3,5,7]
number=prime_number.copy()  #it will copy all elements of prime_number list into number list
print("Elements of number list are",number)

Elements of number list are [2, 3, 5, 7]

In [35]:
#pop() in list
# remove element at given index and returns removed item
prime_number=[2,3,5,7]
removed_element=prime_number.pop(3)  # it will remove elements at index 3
print("Removed element is",removed_element)

Removed element is 7

# # Tuple

In [38]:
# tuple datatype is ordered sequence of elements.Elements could be of different types. 
#tuple is immutable i,e we cannot modify elements of tuple. It use ()

fpage1=(30,45,40,50,6)
print(type(fpage1))

print("element at index value 2 is",fpage1[2])   # it will print element at index value 2

<class 'tuple'>
element at index value 2 is 40

In [39]:
# function of Tuple

print("Length of tuple is",len(fpage1))   # give length of tuple
print("Maximum element of tuple is",max(fpage1))
print("Minimum element of tuple is",min(fpage1))

Length of tuple is 5
Maximum element of tuple is 50
Minimum element of tuple is 6

In [8]:
#tuples are immutable,so you cannot add new elements
#using merge of tuple with '+' operator you can add an elements and it will create a new tuple
tuple1=(4,5,6,7,2)
tuple2=(10,20,30)
tuple1=tuple1+tuple2
tuple1=tuple1+(9,)
print("Merged tuple is:",tuple1)

Merged tuple is: (4, 5, 6, 7, 2, 10, 20, 30, 9)

In [43]:
# adding item to specific index
tuple1=tuple1[:5]+(15,16,17)+tuple1[:5]
print(tuple1)

(4, 5, 6, 7, 2, 15, 16, 17, 4, 5, 6, 7, 2)

In [44]:
# Coverting tuple to list
list1=list(tuple1)     # this covert tuple into list
print(list1)

[4, 5, 6, 7, 2, 15, 16, 17, 4, 5, 6, 7, 2]

In [45]:
list1.append(99)
tuplex=tuple(list1)     # this will covert list into tuple
print(tuplex)

(4, 5, 6, 7, 2, 15, 16, 17, 4, 5, 6, 7, 2, 99)

## String Datatype

In [10]:
a="Python"
b="Programming"
print(type(a))
print(a+" "+b)      # + operator is used as concatenation in string type data

<class 'str'>
Python Programming

In [49]:
# creating string with single quote
str='python programming'
print(str)

python programming

In [51]:
# creating string with double quote
str="Python Programming"
print(str)

Python Programming

In [52]:
#creating string with triple quotes which allows multiple lines
str="""Python
  Programming"""
print(str)

Python
  Programming

In [15]:
# concatenate two string using + operator
str="Python programming"
str1="session"
print(str+" " +str1)

Python prgramming session

In [16]:
print("Character at index 2 is",str[2]) # it will print character at specific index

Character at index 2 is t

In [20]:
print(str[2:8])

thon p

In [21]:
# Example for practice

#Program to enter complete details of an organization 
#prepare a list employee details as name ,age,country
#Print department details as department name,code
#print head of department as name of head,code
#prepare three list and display details

In [29]:
emp=["John",30,"India"]
dept1=["CS",101]
dept2=["IT",102]
HOD_CS=[10,"Mr.Holdin"]
HOD_IT=[20,"Mr Brown"]
print("Printing Employee Details:")
print("Name,Age,Country",emp[0],emp[1],emp[2])  # Name:John Age:30  Country:India
print("\nName:%s,Age:%d,Country:%s"%(emp[0],emp[1],emp[2]))

Printing Employee Details:
Name,Age,Country John 30 India

Name:John,Age:30,Country:India

## Set Datatype

In [31]:
# Set is an unordered collection of unique items. 
#Set is defined by values separated by comma inside braces { }. Items in a set are not ordered. 

#creating set
set1=set()
print("Initial blank set")
print(type(set1))

Initial blank set
<class 'set'>

In [34]:
#creating set with use of string
set1=set("Python Session")  # pass string type data as parameter
print("\n Set with use of String:")
print(set1)  # unique elements /character of the string

 Set with use of String:
{'i', 'y', 'P', 'o', 'S', 'n', ' ', 'h', 's', 'e', 't'}

In [36]:
# creating set with use of list
set1=set(["Python","Programming","Language","Session"])
print("\nSet with use of list")
print(set1)

Set with use of list
{'Session', 'Programming', 'Python', 'Language'}

In [42]:
#creating set with mixed values having numbers and strings
set1={1,2,'Python',4,'Programming',6,'Language'}
print(set1)
print(type(set1))

{1, 2, 'Programming', 4, 6, 'Language', 'Python'}
<class 'set'>

In [43]:
#write a program to remove elements from given set, we use pop()

num_set=set([2,4,3,6,1])
print("Original Set",num_set)
num_set.pop()   # pop() will remove first element of set
print("\n After Removing first elements from given set")
print(num_set)

Original Set {1, 2, 3, 4, 6}

 After Removing first elements from given set
{2, 3, 4, 6}

In [3]:
# write a program to create intersection of set
# In mathematics intersection of two set is denoted by A∩B, contains all common elements of A and B
set1=set(["green","blue"])
set2=set(["yellow","blue"])
print("original set")
print(set1)
print(set2)

print("\n Intersection of two set")
set3=set1 & set2
print(set3)

original set
{'blue', 'green'}
{'blue', 'yellow'}

 Intersection of two set
{'blue'}

In [47]:
# Intersection of two set
set1=set(["Python","Programming","Language"])
set2=set(["Python","Session"])
print(set1)
print(set2)
set3=set1 & set2 # & for intersection function
print("Intersection Element of set1 and set2 is:",set3)

{'Programming', 'Python', 'Language'}
{'Session', 'Python'}
Intersection Element of set1 and set2 is: {'Python'}

In [49]:
# Union of two set a={1,2,3,4,5} and b={3,4,6,7} 
# a union b={1,2,3,4,5,6,7}
set3=set1.union(set2)
print(set3)

{'Programming', 'Language', 'Session', 'Python'}

In [52]:
# Print all elements of Set1 and set2

print(set1)
print(set2)
set3=set1.union(set2)
print(set3)
set3=set1.difference(set2)#only set1 removing common element
set3=set2.difference(set1)#Only set2 removing common element
print(set3)

{'Programming', 'Python', 'Language'}
{'Session', 'Python'}
{'Programming', 'Language', 'Session', 'Python'}
{'Programming', 'Language'}

In [8]:
#print difference of set1 and set2
set3=set1.difference(set2)
print(set3)

{'yellow'}

## Dictionary DataType

In [9]:
# Dictionary is an unordered collection of key-value pairs. ex (key)1:"Suchita"(value),2:"Python"
# It is generally used when we have a huge amount of data.
#Dictionaries are optimized for retrieving data. 
# We must know the key to retrieve the value.
# In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value

In [65]:
# creating dictionary
d={1:'value',2:'value1'}# element in left is always key and element in right is laways value
d1={1:'Python','Abc':2}
print(type(d1))
print(type(d))

<class 'dict'>
<class 'dict'>

In [66]:

print(d1['Abc'])

2

In [16]:
print("d['key']=",d['key'])

d['key']= 2

In [17]:
family_member={'Brother':30,'Cousin':40,'Nephew':10,'Mother':55,'Father':61}
print(family_member)

{'Brother': 30, 'Cousin': 40, 'Nephew': 10, 'Mother': 55, 'Father': 61}

In [21]:
print(family_member['Brother'])

30

In [22]:
print(family_member[40])  # it will give error as only key can be passed as parameter. Key is in left

KeyError: 40

In [26]:
#Accessing element using get()
print("Accessing elements of dictionary ")
print("Age of Mother=",family_member.get('Mother'))

Accessing elements of dictionary
Age of Mother 55

In [32]:
#pop() removes ithem with specified key

print("Original Elements in Dictionary=",family_member)

family_member.pop('Nephew')
print(family_member)

Original Elements in Dictionary= {'Brother': 30, 'Cousin': 40, 'Nephew': 10, 'Mother': 55, 'Father': 61}
{'Brother': 30, 'Cousin': 40, 'Mother': 55, 'Father': 61}

## Boolean Datatype

In [34]:
# Data type with one of the two built-in values, True or False. 
# Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false). 
# It is denoted by the class bool.

In [70]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [68]:
# range()
x=range(4)
print(x)

range(0, 4)

In [38]:
# All datatypes in one code

In [39]:
# Datatype: str
x="Hello World"
print(type(x))

<class 'str'>

In [40]:
# Datatyep:int
x=10
print(type(x))

<class 'int'>

In [41]:
#Datatype:float
x=10.9
print(type(x))

<class 'float'>

In [42]:
#Datatype:Complex
x=4+8j
print(type(x))

<class 'complex'>

In [43]:
#Datatype:list
x=[1,2,3,"Python"]
print(type(x))

<class 'list'>

In [44]:
#Datatype:tuple
x=(1,2,3,"Programming")
print(type(x))

<class 'tuple'>

In [45]:
#Datatype:range
x=range(10)
print(type(x))

<class 'range'>

In [46]:
#Datatype:Dictionary
x={1:"Python",2:"Programming"}
print(type(x))

<class 'dict'>

In [47]:
#Datatype:Set
x={"Python","Programming","Language"}
print(type(x))

<class 'set'>

In [50]:
#Datatype:frozenset
x={"Python","Programming","Language"}
y=frozenset(x)
print(type(y))

<class 'frozenset'>

In [57]:
#Datatype:bytes
x=b"Good Morning"
print("Byte code of g is",x[11])
print(type(x))

Byte code of g is 103
<class 'bytes'>

In [61]:
#Datatype:bytearray
x=bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [63]:
#Datatype:Memoryview
x=memoryview(bytes(6))
print(x)

<memory at 0x000001CD50694400>

In [65]:
# Datatype:None
y=None
print(type(y))

<class 'NoneType'>

## Type  Coversion

In [66]:
a=1+2j
print(a,"is a comple number",isinstance(1+2j,complex))

(1+2j) is a comple number True